# --- PYTHON ---
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/venv/
**/.venv/
**/env/

# --- FLUTTER / DART ---
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/android/**/generated/
**/ios/Flutter/

# --- WEB / IDEs ---
.vscode/
.idea/
node_modules/
.DS_Store
Thumbs.db